name: CI

on:
  push:
    branches: [ release ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - name: executing remote ssh commands using ssh-private-key
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd WEB13-JDevBook && git pull origin release
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            cd server && npm install && pm2 restart app
            cd ../client && npm install && npm run build
            sudo service nginx restart
            
            

     
